@inherits LayoutComponentBase

<div class="layout-topnav">
    <header class="topnav-wrapper">
        <NavMenuProfesor />
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="app-footer px-4 py-3">
        <small class="text-muted"> Sistema Académico</small>
    </footer>
</div>