<div class="top-row navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center justify-content-between w-100">
        <a class="navbar-brand me-4" href="/home-profesor">Sistema Académico - Profesor</a>
        <div class="navbar-collapse show d-flex flex-grow-1 justify-content-end">
            <nav class="nav-horizontal">
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/home-profesor" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/poner-notas">
                        <span class="bi bi-pencil-square" aria-hidden="true"></span> Poner Notas
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/cursos">
                        <span class="bi bi-book-fill" aria-hidden="true"></span> Cursos
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/personas">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Personas
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>
