<div class="top-row navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center justify-content-between w-100">
        <a class="navbar-brand me-4" href="/home-alumno">Sistema Académico - Alumno</a>
        <div class="navbar-collapse show d-flex flex-grow-1 justify-content-end">
            <nav class="nav-horizontal">
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/home-alumno" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/inscribirse">
                        <span class="bi bi-clipboard-check-fill" aria-hidden="true"></span> Inscribirse
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/ver-notas">
                        <span class="bi bi-file-earmark-text-fill" aria-hidden="true"></span> Ver Notas
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>
