<div class="top-row navbar navbar-dark">
    <div class="container-fluid d-flex align-items-center justify-content-between w-100">
        <a class="navbar-brand me-4" href="/home">Sistema Académico</a>
        <div class="navbar-collapse show d-flex flex-grow-1 justify-content-end">
            <nav class="nav-horizontal">
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/personas">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Personas
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/cursos">
                        <span class="bi bi-book-fill" aria-hidden="true"></span> Cursos
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/comisiones">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Comisiones
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/materias">
                        <span class="bi bi-journal-fill" aria-hidden="true"></span> Materias
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/especialidades">
                        <span class="bi bi-award-fill" aria-hidden="true"></span> Especialidades
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/planes">
                        <span class="bi bi-folder-fill" aria-hidden="true"></span> Planes
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/usuarios">
                        <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="/reportes">
                        <span class="bi bi-file-earmark-text-fill" aria-hidden="true"></span> Reportes
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>


